Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, pulumi-preview

export-requirements-txt:
  name: Export requirements.txt
  entry: make py-export
  language: system

dotnet-tool-restore:
  name: Install dotnet tools
  language: system
  entry: dotnet tool restore
  pass_filenames: false

dotnet-unit-test:
  name: Dotnet unit tests
  entry: make dotnet-unit-tests
  pass_filenames: false
  language: system

dotnet-integration-test:
  name: Dotnet integration tests
  entry: make dotnet-integration-tests
  pass_filenames: false
  language: system

pulumi-preview:
  name: Run preview of the pulumi config as a dry run
  entry: make pulumi-preview
  pass_filenames: false
  language: system

custom setting of credentials
  .github/workflows/build-pulumi.yaml
Due: none

updating docs
  docs/assets/pulumi-autocomment.png
  docs/index.md
  docs/introduction/deployment.md
  docs/introduction/development-process.md
  docs/introduction/hardware-design.md
  docs/introduction/index.md
  docs/introduction/software-arch.md
  docs/introduction/system-overview.md
  docs/repository/index.md
  docs/repository/working-with-repository.md
  mkdocs.yaml
Due: none

- sotex box app - docs - pre-commit and make changes
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  android/sotex_box/.metadata
  android/sotex_box/README.md
  android/sotex_box/analysis_options.yaml
  android/sotex_box/android/.gitignore
  android/sotex_box/android/app/build.gradle
  android/sotex_box/android/app/src/main/AndroidManifest.xml
  android/sotex_box/android/app/src/main/kotlin/com/example/sotex_box/MainActivity.kt
  android/sotex_box/android/app/src/main/res/drawable-v21/launch_background.xml
  android/sotex_box/android/app/src/main/res/drawable/launch_background.xml
  android/sotex_box/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/values-night/styles.xml
  android/sotex_box/android/app/src/main/res/values/styles.xml
  android/sotex_box/android/app/src/profile/AndroidManifest.xml
  android/sotex_box/android/build.gradle
  android/sotex_box/android/gradle.properties
  android/sotex_box/android/gradle/wrapper/gradle-wrapper.properties
  android/sotex_box/android/settings.gradle
  android/sotex_box/lib/main.dart
  android/sotex_box/pubspec.lock
  android/sotex_box/pubspec.yaml
  android/sotex_box/test/widget_test.dart
  docs/index.md
  docs/repository/android/index.md
  docs/repository/index.md
  mkdocs.yaml
Due: none

- Flutter CI
  .github/workflows/flutter-launcher.yaml
Due: none

- No need to have artifacts currently building through workflows. Local Runner might make sense here.
  .github/workflows/flutter-launcher.yaml
Due: none

- Changed CI path
  .github/workflows/flutter-launcher.yaml
Due: none

applying suggestions
  infra/backend/Pulumi.staging.yaml
  infra/backend/Pulumi.yaml
Due: pulumi-preview

removing leftover code
  infra/config-translator/attributes/DoubleAttribute.cs
Due: pulumi-preview

feat(IaC): adding pulumi tool for managing infrastructure (#13)
  .github/workflows/build-pulumi.yaml
  .pre-commit-config.yaml
  Makefile
  docs/assets/pulumi-autocomment.png
  docs/index.md
  docs/introduction/deployment.md
  docs/introduction/development-process.md
  docs/introduction/hardware-design.md
  docs/introduction/index.md
  docs/introduction/software-arch.md
  docs/introduction/system-overview.md
  docs/repository/index.md
  docs/repository/infra/index.md
  docs/repository/working-with-repository.md
  infra/backend/MappedConfig.cs
  infra/backend/Program.cs
  infra/backend/Pulumi.staging.yaml
  infra/backend/Pulumi.yaml
  infra/backend/backend.csproj
  infra/config-translator/PulumiMapper.cs
  infra/config-translator/attributes/BooleanAttribute.cs
  infra/config-translator/attributes/DoubleAttribute.cs
  infra/config-translator/attributes/GenericAttribute.cs
  infra/config-translator/attributes/IntAttribute.cs
  infra/config-translator/attributes/ObjectAttribute.cs
  infra/config-translator/attributes/StringAttribute.cs
  infra/config-translator/config-translator.csproj
  mkdocs.yaml
  sotex-box.sln
Due: pulumi-preview

adding ci for building images and pushing to ghcr
  .dockerignore
  .github/workflows/dotnet.yaml
  Makefile
  distribution/docker/backend.dockerfile
Due: none

adding path check for running docker image rebuild
  .github/workflows/dotnet.yaml
Due: none

fixing ci
  .github/workflows/dotnet.yaml
  Makefile
Due: none

enabling CI only on main
  .github/workflows/dotnet.yaml
Due: none

adding docs
  docs/repository/CI/index.md
  docs/repository/working-with-repository.md
  mkdocs.yaml
Due: none

making lint run on push
  .github/workflows/pull-request-lint.yaml
Due: none

Revert "making lint run on push"
  .github/workflows/pull-request-lint.yaml
Due: none

feat(CI): Adding ci for building images and pushing to packages (#16)
  .dockerignore
  .github/workflows/dotnet.yaml
  Makefile
  distribution/docker/backend.dockerfile
  docs/repository/CI/index.md
  docs/repository/working-with-repository.md
  mkdocs.yaml
Due: none

adding metrics
  Makefile
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/integration-tests/controller-tests/MetricsTests.cs
Due: dotnet-unit-test, dotnet-integration-test

started work on dockercompose
  Makefile
  docker-compose.yaml
Due: none

added first iteration of docker compose
  Makefile
  docker-compose.yaml
  infra/config/grafana/provisioning/datasources/prometheus-datasource.yaml
  infra/config/prometheus/prometheus.yml
Due: pulumi-preview

Review changes
  .github/workflows/flutter-launcher.yaml
  .pre-commit-config.yaml
  Makefile
  android/launcher/README.md
  android/sotex_box/README.md
  docs/repository/android/index.md
Due: none

correcting docker compose setup
  docker-compose.yaml
  infra/config/grafana/provisioning/datasources/prometheus-datasource.yaml
  infra/config/prometheus/prometheus.yml
Due: pulumi-preview

adding grafana dashboards
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  infra/config/grafana/provisioning/dashboards/asp-net-core-endpoint.json
  infra/config/grafana/provisioning/dashboards/asp-net-core-metrics.json
  infra/config/grafana/provisioning/dashboards/default.yaml
  infra/config/grafana/provisioning/dashboards/system-runtime.json
Due: dotnet-unit-test, dotnet-integration-test, pulumi-preview

started work on dockercompose
  dotnet/backend/Program.cs
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
Due: dotnet-unit-test, dotnet-integration-test

refactor
  dotnet/backend/Program.cs
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/sse-handler/metrics/DeviceMetrics.cs
Due: dotnet-unit-test, dotnet-integration-test

started work on dockercompose
  dotnet/backend/Program.cs
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/sse-handler/metrics/DeviceMetrics.cs
  dotnet/unit-tests/EventCoordinatorsTests/Tests.cs
  dotnet/unit-tests/unit-tests.csproj
Due: dotnet-unit-test, dotnet-integration-test

adding documentation
  docs/observability/custom-metrics.md
  docs/repository/index.md
  docs/repository/working-with-repository.md
  infra/config/grafana/provisioning/dashboards/device-connection.json
  mkdocs.yaml
Due: pulumi-preview

feat(backend): metrics and dashboards (#20)
  Makefile
  docker-compose.yaml
  docs/observability/custom-metrics.md
  docs/repository/index.md
  docs/repository/working-with-repository.md
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/integration-tests/controller-tests/MetricsTests.cs
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/sse-handler/metrics/DeviceMetrics.cs
  dotnet/unit-tests/EventCoordinatorsTests/Tests.cs
  dotnet/unit-tests/unit-tests.csproj
  infra/config/grafana/provisioning/dashboards/asp-net-core-endpoint.json
  infra/config/grafana/provisioning/dashboards/asp-net-core-metrics.json
  infra/config/grafana/provisioning/dashboards/default.yaml
  infra/config/grafana/provisioning/dashboards/device-connection.json
  infra/config/grafana/provisioning/dashboards/system-runtime.json
  infra/config/grafana/provisioning/datasources/prometheus-datasource.yaml
  infra/config/prometheus/prometheus.yml
  mkdocs.yaml
Due: dotnet-unit-test, dotnet-integration-test, pulumi-preview

flutter setup guide
  docs/repository/android/index.md
  docs/repository/working-with-repository.md
Due: none

changed makefile to target the right pulumi stack
  Makefile
  infra/backend/Pulumi.staging.yaml
Due: pulumi-preview

- makefile changes for pulumi stack - docs
  docs/repository/android/index.md
  docs/repository/working-with-repository.md
Due: none

- added more required tools
  .gradle/4.4.1/fileHashes/fileHashes.lock
  Makefile
  docs/repository/.gradle/4.4.1/fileHashes/fileHashes.lock
  docs/repository/working-with-repository.md
Due: none

adding load test for sse
  load-tests/sse/script.js
Due: none

Added hangfire
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/sse-handler/IEventCoordinator.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/unit-tests/EventCoordinatorsTests/Tests.cs
Due: dotnet-unit-test, dotnet-integration-test

started hangfire
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/NoopJob.cs
Due: dotnet-unit-test, dotnet-integration-test

testing out event based architecture components
  android/launcher/lib/counter_bloc.dart
  android/launcher/lib/logger.dart
  android/launcher/lib/main.dart
  android/launcher/lib/simple_bloc_observer.dart
Due: none

startup app
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/app.dart
  android/launcher/lib/app_observer.dart
  android/launcher/lib/counter/counter.dart
  android/launcher/lib/counter/cubit/counter_cubit.dart
  android/launcher/lib/counter/view/counter_page.dart
  android/launcher/lib/counter/view/counter_view.dart
  android/launcher/lib/counter/view/view.dart
  android/launcher/lib/counter_bloc.dart
  android/launcher/lib/main.dart
  android/launcher/lib/simple_bloc_observer.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: none

refactoring test
  dotnet/backend/hangfire/NoopJob.cs
  load-tests/sse/script.js
Due: dotnet-unit-test, dotnet-integration-test

adding logging to all sse handlers
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
Due: dotnet-unit-test, dotnet-integration-test

Path conditions:
  export-requirements-txt: any of: pyproject.toml
  dotnet-tool-restore: any of: .config/dotnet-tools.json
  dotnet-unit-test: any of: dotnet/
  dotnet-integration-test: any of: dotnet/
  pulumi-preview: any of: infra/
