Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: check-xml
      - id: detect-private-key
  - repo: local
    hooks:
      - id: export-requirements-txt
        name: Export requirements.txt
        entry: make py-export
        language: system
        files: 'pyproject.toml'
      - id: dotnet-tool-restore
        name: Install dotnet tools
        language: system
        entry: dotnet tool restore
        files: ".config/dotnet-tools.json"
        pass_filenames: false
      - id: csharpier
        name: Run CSharpier on c# files
        entry: dotnet tool run dotnet-csharpier
        language: system
        types:
          - c#
      - id: dotnet-unit-test
        name: Dotnet unit tests
        entry: make dotnet-unit-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dotnet-integration-test
        name: Dotnet integration tests
        entry: make dotnet-integration-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dart-format
        name: Dart format
        entry: dart format .
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-analyze
        name: Flutter analyze
        entry: flutter analyze --preamble --congratulate --fatal-warnings --fatal-infos
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-launcher-tests
        name: Flutter launcher tests
        entry: make flutter-test-launcher
        language: system
      - id: flutter-sotex_box-tests
        name: Flutter sotex_box tests
        entry: make flutter-test-box
        language: system

ensure to delete ad if the object in bucket cannot be created due to some reason
  dotnet/backend/controllers/AdsController.cs
Due: dotnet-unit-test, dotnet-integration-test

adding stage clarification
  dotnet/backend/controllers/AdsController.cs
Due: dotnet-unit-test, dotnet-integration-test

Makefile revert
  Makefile
Due: none

networking
  android/launcher/lib/common.dart
  android/launcher/lib/isolate_worker.dart
  android/launcher/lib/main.dart
  android/launcher/lib/network/cubits/network_cubit.dart
  android/launcher/lib/sse/lib/sse_listener.dart
  android/launcher/lib/sse/sse.dart
  android/launcher/lib/sse/test/sse_listener_test.dart
  android/launcher/lib/startup/view/startup_page.dart
Due: dart-format, flutter-analyze

removing extra line in pulumi
  infra/backend/Pulumi.staging.yaml
Due: none

feat(flutter-setup-guide): Flutter installation documentation (#23)
  .gradle/4.4.1/fileHashes/fileHashes.lock
  Makefile
  docs/repository/.gradle/4.4.1/fileHashes/fileHashes.lock
  docs/repository/working-with-repository.md
Due: none

adding webhooks
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/controllers/AdsController.cs
  dotnet/backend/hangfire/NoopJob.cs
Due: dotnet-unit-test, dotnet-integration-test

saving
  Makefile
Due: none

removing precreating of an object in s3
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/controllers/AdsController.cs
Due: dotnet-unit-test, dotnet-integration-test

added local pusher to sqs to local stack
  Makefile
  distribution/docker/local-pusher.dockerfile
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/controllers/AdsController.cs
  infra/config/sqs/elasticmq.conf
  poetry.lock
  pyproject.toml
  python/local-pusher.py
  python/test-poll.py
  requirements.txt
Due: export-requirements-txt, dotnet-unit-test, dotnet-integration-test

added updating of ad from sqs
  .env.template
  dotnet/backend/Program.cs
  dotnet/backend/aws/AwsClientRegistrator.cs
  dotnet/backend/backend.csproj
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/GenericCronJob.cs
  dotnet/backend/hangfire/NoopJob.cs
  dotnet/backend/hangfire/SqsProcessorJob.cs
  dotnet/backend/hangfire/dashboard/TestAuthFilter.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
Due: dotnet-unit-test, dotnet-integration-test

added basic tests for created job
  dotnet/backend/hangfire/SqsProcessorJob.cs
  dotnet/unit-tests/JobsTests/SqsProcessorJobTests.cs
  dotnet/unit-tests/unit-tests.csproj
Due: dotnet-unit-test, dotnet-integration-test

adding sqs and a noop job test
  Makefile
  dotnet/backend/hangfire/SqsProcessorJob.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/NoopJobTests.cs
  dotnet/integration-tests/integration-tests.csproj
Due: dotnet-unit-test, dotnet-integration-test

removing integration tests from pre commit since they started to take more time, fixed flutter analyze
  .pre-commit-config.yaml
Due: none

adding back integration tests
  .pre-commit-config.yaml
  dotnet/backend/hangfire/SqsProcessorJob.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/NoopJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

started e2e tester project
  .dockerignore
  Makefile
  distribution/docker/e2e.dockerfile
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/e2e-tester.csproj
  sotex-box.sln
Due: dotnet-unit-test, dotnet-integration-test

added running of our stack in docker container
  Makefile
  dotnet/e2e-tester/Program.cs
Due: dotnet-unit-test, dotnet-integration-test

adding retry for migrations
  .gitignore
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/e2e-tester.csproj
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/persistence.csproj
Due: dotnet-unit-test, dotnet-integration-test

adding polly instead of dotnet retry
  dotnet/e2e-tester/Program.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/persistence.csproj
Due: dotnet-unit-test, dotnet-integration-test

implemented a test executor
  Makefile
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

implementing parallelism
  Makefile
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

optimize startup time for e2e tests
  Makefile
  dotnet/e2e-tester/TestExecutor.cs
  dotnet/e2e-tester/e2e-tester.csproj
Due: dotnet-unit-test, dotnet-integration-test

implemented running multiple test environments
  distribution/local/docker-compose.dev.yaml
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

further optimize tests
  Makefile
  distribution/docker/e2e.dockerfile
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

refactoring test executor
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

implementing batching
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

adding some e2e tests
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/PingTests/PingBackendTest.cs
  dotnet/e2e-tester/PingTests/PingPrometheusTest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

adding table output
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/PingTests/PingBackendTest.cs
  dotnet/e2e-tester/PingTests/PingPrometheusTest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
  dotnet/e2e-tester/e2e-tester.csproj
Due: dotnet-unit-test, dotnet-integration-test

added highest log level for testcontainers
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/PingTests/PingGrafanaTest.cs
  dotnet/e2e-tester/Program.cs
Due: dotnet-unit-test, dotnet-integration-test

added create ad e2e test
  dotnet/e2e-tester/AdTests/CreateAdTest.cs
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/PingTests/PingBackendTest.cs
  dotnet/e2e-tester/PingTests/PingGrafanaTest.cs
  dotnet/e2e-tester/PingTests/PingPrometheusTest.cs
  dotnet/e2e-tester/Resources/test-add.png
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

added e2e test for creating ad
  dotnet/e2e-tester/AdTests/CreateAdTest.cs
  dotnet/e2e-tester/E2ETest.cs
Due: dotnet-unit-test, dotnet-integration-test

add docs, add tags to missing parts of stack
  Makefile
  distribution/local/docker-compose.dev.yaml
  docs/repository/dotnet/index.md
Due: dotnet-unit-test, dotnet-integration-test

add default env variables for docker compose down to run normally
  .github/workflows/dotnet.yaml
Due: none

adding device model
  dotnet/backend/controllers/AdsController.cs
  dotnet/backend/controllers/DevicesController.cs
  dotnet/backend/controllers/EventController.cs
  dotnet/benchmarks/EventCoordinatorBenchmarks.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/model/Contracts/DeviceContract.cs
  dotnet/model/Core/Device.cs
  dotnet/model/Mappers/CoreMapper.cs
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/Converters/DateTimeValueConverter.cs
  dotnet/persistence/Converters/IpAddressValueConverter.cs
  dotnet/persistence/Migrations/20240322222225_AddingDeviceModel.Designer.cs
  dotnet/persistence/Migrations/20240322222225_AddingDeviceModel.cs
  dotnet/persistence/Repository/Base/IRepository.cs
  dotnet/persistence/Repository/Base/Repository.cs
  dotnet/persistence/Repository/DeviceRepository.cs
  dotnet/sse-handler/Connection.cs
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/IEventCoordinator.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/sse-handler/extensions/LoggerExtensions.cs
  dotnet/sse-handler/metrics/DeviceMetrics.cs
  dotnet/unit-tests/EventCoordinatorsTests/Tests.cs
  dotnet/unit-tests/JobsTests/SqsProcessorJobTests.cs
  load-tests/sse/connectionTest.js
Due: dotnet-unit-test, dotnet-integration-test

added creating and getting devices
  dotnet/backend/Program.cs
  dotnet/backend/controllers/DevicesController.cs
  dotnet/model/Contracts/DeviceContract.cs
  dotnet/model/Mappers/CoreMapper.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Repository/Base/IRepository.cs
Due: dotnet-unit-test, dotnet-integration-test

adding optional checking of devices being registered
  .env.template
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/backend/controllers/EventController.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  infra/config/nginx/gateway.conf
Due: dotnet-unit-test, dotnet-integration-test

adding integration tests
  dotnet/backend/controllers/EventController.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
Due: dotnet-unit-test, dotnet-integration-test

added e2e test
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
  infra/config/nginx/gateway.conf
Due: dotnet-unit-test, dotnet-integration-test

attempting of rewriting test
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
Due: dotnet-unit-test, dotnet-integration-test
