Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

export-requirements-txt:
  name: Export requirements.txt
  entry: make py-export
  language: system

dotnet-tool-restore:
  name: Install dotnet tools
  language: system
  entry: dotnet tool restore
  pass_filenames: false

dotnet-unit-test:
  name: Dotnet unit tests
  entry: make dotnet-unit-tests
  pass_filenames: false
  language: system

dotnet-integration-test:
  name: Dotnet integration tests
  entry: make dotnet-integration-tests
  pass_filenames: false
  language: system

dart-format:
  name: Dart format
  entry: dart format .
  language: system

flutter-analyze:
  name: Flutter analyze
  entry: flutter analyze --preamble --congratulate --fatal-warnings --fatal-infos
  language: system

adapting distribution
  .pre-commit-config.yaml
  Makefile
  distribution/docker/local-pusher.dockerfile
  requirements.txt
Due: none

refactoring and finishing setup
  .dockerignore
  Makefile
  distribution/local/docker-compose.dev.yaml
  docs/repository/.gradle/4.4.1/fileHashes/fileHashes.lock
Due: none

adding action in makefile
  Makefile
Due: none

fixing pipeline
  .github/workflows/flutter-launcher.yaml
Due: none

small improvements to Makefile and IaaC
  infra/backend/MappedConfig.cs
  infra/backend/Program.cs
  infra/backend/Pulumi.yaml
Due: none

chore: small improvements to Makefile and IaaC (#56)
  infra/backend/MappedConfig.cs
  infra/backend/Program.cs
  infra/backend/Pulumi.yaml
Due: none

saving
  .gitignore
  Makefile
  infra/backend/Program.cs
  launcher/android/app/src/main/AndroidManifest.xml
  launcher/lib/main.dart
  launcher/lib/src/channels/views/channel_page.dart
  launcher/lib/src/database/storage.dart
  launcher/lib/src/navigation/app_router_delegate.dart
Due: dart-format, flutter-analyze

changed directories for logs and files
  launcher/lib/src/database/database.dart
  launcher/lib/src/database/storage.dart
Due: dart-format, flutter-analyze

Video working on the device.
  dotnet/backend/controllers/ScheduleController.cs
  launcher/lib/src/channels/bloc/playback_bloc.dart
  launcher/lib/src/channels/views/channel_page.dart
  launcher/lib/src/common/logging.dart
Due: dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

remove docker compose up from the .NET deployment cs
  infra/backend/Program.cs
Due: none

onDidPop depricated, replaced with onDidRemove - flutter analyze errors fixed
  launcher/lib/main.dart
  launcher/lib/src/navigation/app_navigator.dart
Due: dart-format, flutter-analyze

- removed unused comment - updated flutter version in github actions
  .github/workflows/flutter-launcher.yaml
  launcher/lib/src/channels/bloc/playback_bloc.dart
Due: dart-format, flutter-analyze

- gh actions take flutter version from pubspec.yaml
  .github/workflows/flutter-launcher.yaml
Due: none

- Controller initialization is under a single extension function.
  launcher/lib/src/channels/bloc/playback_bloc.dart
Due: dart-format, flutter-analyze

feat(device): Device Playback (#57)
  .github/workflows/flutter-launcher.yaml
  .gitignore
  Makefile
  dotnet/backend/controllers/ScheduleController.cs
  infra/backend/Program.cs
  launcher/android/app/src/main/AndroidManifest.xml
  launcher/lib/main.dart
  launcher/lib/src/channels/bloc/playback_bloc.dart
  launcher/lib/src/channels/views/channel_page.dart
  launcher/lib/src/common/logging.dart
  launcher/lib/src/database/database.dart
  launcher/lib/src/database/storage.dart
  launcher/lib/src/navigation/app_navigator.dart
  launcher/lib/src/navigation/app_router_delegate.dart
Due: dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

- moved .eslintrc.json & .prettierrc.yaml to root
  .eslintrc.json
  .prettierrc.yaml
Due: none

- global tsconfig - nextjs only tsconfig
  web/pnpm-lock.yaml
  web/tsconfig.json
Due: none

feat(web): Landing Page (#52)
  .eslintrc.json
  .prettierrc.yaml
  web/.gitignore
  web/README.md
  web/app/favicon.ico
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/next.config.mjs
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.mjs
  web/public/arrow_right.svg
  web/public/icons/chevron-down.svg
  web/public/icons/chevron-up.svg
  web/public/icons/cloud.svg
  web/public/icons/document.svg
  web/public/icons/food.svg
  web/public/icons/hd.svg
  web/public/icons/live.svg
  web/public/icons/mobile.svg
  web/public/icons/play.svg
  web/public/icons/router.svg
  web/public/lights_1.png
  web/public/lights_2.png
  web/public/lights_3.png
  web/public/next.svg
  web/public/sotex_box.svg
  web/public/sotex_solutions.svg
  web/public/splash_1.png
  web/public/splash_2.png
  web/public/tick.svg
  web/public/tv.png
  web/public/vercel.svg
  web/src/components/accordion.tsx
  web/tailwind.config.ts
  web/tsconfig.json
Due: none

- ANDROID HOME setting does not working with the entire makefile, commenting until fixed - .env.template S3 default url changed to 9002 to be copy-pasteable and compatible with current docker compose
  .env.template
  Makefile
Due: none

- strict tsconfig for the monorepo - somehow tsconfig got deleted after the latest PR, restored it and made it better - set aliases for component imports
  tsconfig.json
  web/package.json
  web/pnpm-lock.yaml
  web/tsconfig.json
Due: none

- taplo immediate assignment to avoid repeating for every single target - fixed the recipe for ANDROID_HOME
  Makefile
Due: none

feat(web): TSConfig Improvements (#59)
  tsconfig.json
  web/package.json
  web/pnpm-lock.yaml
  web/tsconfig.json
Due: none

feat(backend): Makefile & .env.template QOL changes (#58)
  .env.template
  Makefile
Due: none

- login page added
  web/app/admin/devices/page.tsx
  web/app/admin/layout.tsx
  web/app/admin/login/page.tsx
  web/app/admin/page.tsx
  web/app/page.tsx
Due: none

- schedule is now behind /api when targeted outside of a VPC
  launcher/lib/src/sse/processing/schedule_processor.dart
Due: dart-format, flutter-analyze

- added AWS_PROTOCOL entry to the pulumi deployment
  infra/backend/Program.cs
Due: none

- changed protocol to http, we'll worry about certs later
  infra/backend/Program.cs
Due: none

- added .NET identity
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Migrations/20241113124058_AddingIdentityModels.Designer.cs
  dotnet/persistence/Migrations/20241113124058_AddingIdentityModels.cs
  dotnet/persistence/Repository/Base/User.cs
  dotnet/persistence/persistence.csproj
Due: dotnet-unit-test, dotnet-integration-test

feat(infra): nextjs containerization (#61)
  Makefile
  distribution/local/docker-compose.dev.yaml
  docker-compose.yaml
  infra/config/nginx/gateway.conf
  launcher/lib/src/sse/processing/schedule_processor.dart
  web/app/page.tsx
  web/dev.Dockerfile
  web/next.config.mjs
  web/prod.Dockerfile
  web/public/assets/arrow_right.svg
  web/public/assets/icons/chevron-down.svg
  web/public/assets/icons/chevron-up.svg
  web/public/assets/icons/cloud.svg
  web/public/assets/icons/document.svg
  web/public/assets/icons/food.svg
  web/public/assets/icons/hd.svg
  web/public/assets/icons/live.svg
  web/public/assets/icons/mobile.svg
  web/public/assets/icons/play.svg
  web/public/assets/icons/router.svg
  web/public/assets/lights_1.png
  web/public/assets/lights_2.png
  web/public/assets/lights_3.png
  web/public/assets/next.svg
  web/public/assets/sotex_box.svg
  web/public/assets/sotex_solutions.svg
  web/public/assets/splash_1.png
  web/public/assets/splash_2.png
  web/public/assets/tick.svg
  web/public/assets/tv.png
  web/public/assets/vercel.svg
  web/src/components/accordion.tsx
  web/tsconfig.json
Due: dart-format, flutter-analyze

feat(infra): aws_protocol env variable (#64)
  infra/backend/Program.cs
Due: none

feat(api): ASP.NET Authentication (#65)
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Migrations/20241113124058_AddingIdentityModels.Designer.cs
  dotnet/persistence/Migrations/20241113124058_AddingIdentityModels.cs
  dotnet/persistence/Repository/Base/User.cs
  dotnet/persistence/persistence.csproj
Due: dotnet-unit-test, dotnet-integration-test

next-env.d.ts added
  web/.gitignore
  web/next-env.d.ts
Due: none

feat(web): next auto-generated next-env restored (#66)
  web/.gitignore
  web/next-env.d.ts
Due: none

feat(device): registration device ID
  .vscode/launch.json
  launcher/.template.env.json
  launcher/lib/main.dart
  launcher/lib/src/channels/views/channel_page.dart
  launcher/lib/src/common/device_registration.dart
  launcher/lib/src/navigation/app_navigator.dart
  launcher/lib/src/navigation/app_router_delegate.dart
  launcher/lib/src/navigation/cubits/navigation_cubit.dart
  launcher/lib/src/sse/sse_entry.dart
  launcher/pubspec.lock
  launcher/pubspec.yaml
Due: dart-format, flutter-analyze

--
  launcher/.template.env.json
  launcher/lib/src/sse/providers/schedule_item_provider.dart
Due: dart-format, flutter-analyze

feat(device): APK improvements for play store
  launcher/.template.env.json
  launcher/android/app/build.gradle
  launcher/android/app/src/main/kotlin/com/example/launcher/MainActivity.kt
  launcher/lib/src/channels/views/channel_page.dart
  launcher/lib/src/sse/processing/schedule_processor.dart
  launcher/lib/src/sse/providers/schedule_item_provider.dart
  launcher/pubspec.lock
  launcher/pubspec.yaml
Due: dart-format, flutter-analyze

Path conditions:
  export-requirements-txt: any of: pyproject.toml
  dotnet-tool-restore: any of: .config/dotnet-tools.json
  dotnet-unit-test: any of: dotnet/
  dotnet-integration-test: any of: dotnet/
  dart-format: any of: \.(dart)$, but not: ^flutter/|^\.pub-cache/
  flutter-analyze: any of: \.(dart)$, but not: ^flutter/|^\.pub-cache/
