Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: check-xml
      - id: detect-private-key
  - repo: local
    hooks:
      - id: export-requirements-txt
        name: Export requirements.txt
        entry: make py-export
        language: system
        files: 'pyproject.toml'
      - id: dotnet-tool-restore
        name: Install dotnet tools
        language: system
        entry: dotnet tool restore
        files: ".config/dotnet-tools.json"
        pass_filenames: false
      - id: csharpier
        name: Run CSharpier on c# files
        entry: dotnet tool run dotnet-csharpier
        language: system
        types:
          - c#
      - id: dotnet-unit-test
        name: Dotnet unit tests
        entry: make dotnet-unit-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dotnet-integration-test
        name: Dotnet integration tests
        entry: make dotnet-integration-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dart-format
        name: Dart format
        entry: dart format .
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-analyze
        name: Flutter analyze
        entry: flutter analyze --preamble --congratulate --fatal-warnings --fatal-infos
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-launcher-tests
        name: Flutter launcher tests
        entry: make flutter-test-launcher
        language: system
      - id: flutter-sotex_box-tests
        name: Flutter sotex_box tests
        entry: make flutter-test-box
        language: system

fixed e2e test for creating device and connecting
  dotnet/e2e-tester/AdTests/CreateAdTest.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/PingTests/PingBackendTest.cs
  dotnet/e2e-tester/PingTests/PingGrafanaTest.cs
  dotnet/e2e-tester/PingTests/PingPrometheusTest.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing flaky grafana test
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

saving
  Makefile
  android/launcher/lib/main.dart
Due: dart-format, flutter-analyze

changing logging and test scheduling to the executors
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

better console print
  docs/assets/e2etestoutput.png
  docs/repository/dotnet/index.md
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
  dotnet/e2e-tester/e2e-tester.csproj
Due: dotnet-unit-test, dotnet-integration-test

finished making the tv
  Makefile
  android/launcher/lib/main.dart
  docs/repository/android/index.md
Due: dart-format, flutter-analyze

added keyboard documentation
  docs/repository/android/index.md
Due: none

makefile call
  Makefile
Due: none

added variable for android image
  Makefile
Due: none

ignored .gradle folder
  .github/workflows/build-pulumi.yaml
  .gitignore
  .gradle/4.4.1/fileHashes/fileHashes.lock
  README.md
  dotnet/backend/Properties/launchSettings.json
  dotnet/backend/appsettings.Development.json
  dotnet/backend/appsettings.json
  dotnet/backend/backend.csproj
  dotnet/integration-tests/integration-tests.csproj
  dotnet/model/model.csproj
  dotnet/persistence/persistence.csproj
  dotnet/unit-tests/unit-tests.csproj
  sotex-box.sln
Due: dotnet-unit-test, dotnet-integration-test

feat(tv-emulator): Creating the optimal development environment for Android TV (#31)
  .github/workflows/build-pulumi.yaml
  .gitignore
  .gradle/4.4.1/fileHashes/fileHashes.lock
  Makefile
  README.md
  docs/repository/android/index.md
  dotnet/backend/Properties/launchSettings.json
  dotnet/backend/appsettings.Development.json
  dotnet/backend/appsettings.json
  dotnet/backend/backend.csproj
  dotnet/integration-tests/integration-tests.csproj
  dotnet/model/model.csproj
  dotnet/persistence/persistence.csproj
  dotnet/unit-tests/unit-tests.csproj
  sotex-box.sln
Due: dotnet-unit-test, dotnet-integration-test

event coordinator benchmark fix
  dotnet/benchmarks/EventCoordinatorBenchmarks.cs
Due: dotnet-unit-test, dotnet-integration-test

patching makefile
  Makefile
Due: none

Added splash screen
  Makefile
  android/launcher/android/app/src/main/kotlin/com/example/launcher/MainActivity.kt
  android/launcher/android/app/src/main/res/layout/launch_screen.xml
  android/launcher/android/app/src/main/res/mipmap-hdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-mdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-xhdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-xxhdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-xxxhdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/values/styles.xml
  android/launcher/lib/main.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

appending docs
  docs/benchmark-EventCoordinator.md
Due: none

deleted flutter images
  android/launcher/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Due: none

fixing makefile
  Makefile
  docs/benchmark-EventCoordinator.md
  dotnet/benchmarks/EventCoordinatorBenchmarks.cs
Due: dotnet-unit-test, dotnet-integration-test

fix(benchmarks): Taking into account changes for the eventcoordinator (#36)
  Makefile
  docs/benchmark-EventCoordinator.md
  dotnet/benchmarks/EventCoordinatorBenchmarks.cs
Due: dotnet-unit-test, dotnet-integration-test

wifi picker page setup
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/network/cubits/network_cubit.dart
  android/launcher/lib/src/common/network/network.dart
  android/launcher/lib/src/common/network/views/network_page.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
  android/sotex_box/android/app/src/main/AndroidManifest.xml
Due: dart-format, flutter-analyze

removed ic_launcher leftovers
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/sotex_box/android/app/src/main/AndroidManifest.xml
Due: none

changing messages from strings to enum commands
  .env.template
  docs/load-tests/load-test-results-connections.md
  docs/repository/dotnet/index.md
  dotnet/backend/backend.csproj
  dotnet/backend/hangfire/GenericCronJob.cs
  dotnet/backend/hangfire/NoopJob.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/sse-handler/commands/Command.cs
  load-tests/sse/connectionTest.js
Due: dotnet-unit-test, dotnet-integration-test

change hangfire to store jobs in db
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
Due: dotnet-unit-test, dotnet-integration-test

started work on call for schedule job
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/model/Core/Configuration.cs
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Repository/ConfigurationRepository.cs
Due: dotnet-unit-test, dotnet-integration-test

adding device batcher
  .env.template
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/backend/services/RegisterOurServicesExtensions.cs
  dotnet/backend/services/batching/DeviceBatcher.cs
  dotnet/sse-handler/commands/Command.cs
  dotnet/unit-tests/BatcherTests/Tests.cs
Due: dotnet-unit-test, dotnet-integration-test

failed attempt
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/model/Core/Configuration.cs
  dotnet/persistence/Migrations/20240401070303_AddingRuntimeConfigurationModel.Designer.cs
  dotnet/persistence/Migrations/20240401070303_AddingRuntimeConfigurationModel.cs
Due: dotnet-unit-test, dotnet-integration-test

adding better implementation
  .env.template
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
Due: dotnet-unit-test, dotnet-integration-test

started writing tests
  dotnet/backend/services/batching/DeviceBatcher.cs
  dotnet/unit-tests/BatcherTests/Tests.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

new implementation of batching
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/backend/services/RegisterOurServicesExtensions.cs
  dotnet/backend/services/batching/DeviceBatcher.cs
  dotnet/persistence/Repository/DeviceRepository.cs
  dotnet/unit-tests/BatcherTests/Tests.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

adding unit tests
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

adding debug log message
  dotnet/backend/hangfire/CallForScheduleJob.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing enquing of jobs
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
Due: dotnet-unit-test, dotnet-integration-test

saving
  android/launcher/assets/images/sotex_solutions.png
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/network/views/network_page.dart
  android/launcher/lib/src/common/settings/settings.dart
  android/launcher/lib/src/navigation/cubits/navigation_cubit.dart
  android/launcher/lib/src/navigation/navigation.dart
  android/launcher/lib/src/navigation/sotex_box_information_parser.dart
  android/launcher/lib/src/navigation/sotex_box_router_delegate.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

working on routing
  android/launcher/lib/main.dart
  android/launcher/lib/src/navigation/sotex_box_router_delegate.dart
Due: dart-format, flutter-analyze

adding env bag
  dotnet/e2e-tester/DeviceTests/ConnectAndListenTest.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

adding calling for schedule for batch
  dotnet/e2e-tester/DeviceTests/ConnectAndListenTest.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/E2ETest.cs
Due: dotnet-unit-test, dotnet-integration-test

adding better pagination formula
  dotnet/backend/hangfire/CallForScheduleJob.cs
Due: dotnet-unit-test, dotnet-integration-test

feat(backend): notify devices that they can call backend for new schedule (#38)
  .env.template
  docs/load-tests/load-test-results-connections.md
  docs/repository/dotnet/index.md
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/backend/hangfire/GenericCronJob.cs
  dotnet/backend/hangfire/NoopJob.cs
  dotnet/e2e-tester/DeviceTests/ConnectAndListenTest.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
  dotnet/model/Core/Configuration.cs
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Migrations/20240401070303_AddingRuntimeConfigurationModel.Designer.cs
  dotnet/persistence/Migrations/20240401070303_AddingRuntimeConfigurationModel.cs
  dotnet/persistence/Repository/ConfigurationRepository.cs
  dotnet/persistence/Repository/DeviceRepository.cs
  dotnet/sse-handler/commands/Command.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
  load-tests/sse/connectionTest.js
Due: dotnet-unit-test, dotnet-integration-test
