Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

export-requirements-txt:
  name: Export requirements.txt
  entry: make py-export
  language: system

dotnet-tool-restore:
  name: Install dotnet tools
  language: system
  entry: dotnet tool restore
  pass_filenames: false

dotnet-unit-test:
  name: Dotnet unit tests
  entry: make dotnet-unit-tests
  pass_filenames: false
  language: system

dotnet-integration-test:
  name: Dotnet integration tests
  entry: make dotnet-integration-tests
  pass_filenames: false
  language: system

dart-format:
  name: Dart format
  entry: dart format .
  language: system

flutter-analyze:
  name: Flutter analyze
  entry: flutter analyze --preamble --congratulate --fatal-warnings --fatal-infos
  language: system

adding job for calculating schedule
  .env.template
  Makefile
  docker-compose.yaml
  dotnet/backend/controllers/DevicesController.cs
  dotnet/backend/hangfire/CalculateScheduleForDeviceJob.cs
  dotnet/backend/services/RegisterOurServicesExtensions.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/backend/services/files/FileUtil.cs
  dotnet/model/Contracts/DeviceContract.cs
  dotnet/model/Contracts/ScheduleContract.cs
  dotnet/persistence/Repository/AdRepository.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing skipwhile
  .env.template
  Makefile
  docker-compose.yaml
  dotnet/backend/appsettings.json
  dotnet/backend/hangfire/CalculateScheduleForDeviceJob.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/persistence/Repository/AdRepository.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

returning to in memory hangfire storage
  .env.template
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/integration-tests/ConfigurableBackendFactory.cs
Due: dotnet-unit-test, dotnet-integration-test

enabled hot reload
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/main.dart
  android/launcher/lib/src/common/network/views/network_page.dart
  android/launcher/lib/src/navigation/sotex_box_router_delegate.dart
Due: dart-format, flutter-analyze

fixing call for schedule job
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

saving
  android/launcher/flutter_jank_metrics_01.json
  android/launcher/lib/main.dart
  android/launcher/lib/src/common/network/views/network_page.dart
  android/launcher/lib/src/navigation/app_navigator.dart
  android/launcher/lib/src/navigation/app_router_delegate.dart
  android/launcher/lib/src/navigation/sotex_box_information_parser.dart
  android/launcher/lib/src/navigation/sotex_box_router_delegate.dart
Due: dart-format, flutter-analyze

adding unit tests for calculatin schedule for devices
  dotnet/backend/hangfire/CalculateScheduleForDeviceJob.cs
  dotnet/backend/services/files/FileUtil.cs
  dotnet/unit-tests/JobsTests/CalculateScheduleForDeviceJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

adding unit tests for the job
  dotnet/unit-tests/JobsTests/CalculateScheduleForDeviceJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

router finished
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/navigation/app_router_delegate.dart
Due: dart-format, flutter-analyze

-updated Makefile - troubleshoot guide
  Makefile
  android/launcher/android/app/src/main/res/layout/launch_screen.xml
  docs/repository/android/index.md
  docs/repository/android/troubleshoot.md
  mkdocs.yaml
Due: none

network cubit unit tests
  android/launcher/lib/app_observer.dart
  android/launcher/lib/main.dart
  android/launcher/lib/src/common/common.dart
  android/launcher/lib/src/common/logger.dart
  android/launcher/lib/src/common/network/cubits/network_cubit.dart
  android/launcher/lib/src/common/network/views/network_page.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
  android/launcher/test/cubits/network_cubit_test.dart
Due: dart-format, flutter-analyze

configurable magic
  .gitignore
  Makefile
  android/launcher/.template.env.json
  android/launcher/lib/logging.dart
  android/launcher/lib/main.dart
  android/launcher/lib/safe_casting.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

migrating to using a bucket for schedules
  .env.template
  Makefile
  docker-compose.yaml
  dotnet/backend/hangfire/CalculateScheduleForDeviceJob.cs
  dotnet/backend/services/RegisterOurServicesExtensions.cs
  dotnet/backend/services/aws/GetObjectService.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/backend/services/files/FileUtil.cs
  dotnet/unit-tests/JobsTests/CalculateScheduleForDeviceJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing take from entity framework implementation
  dotnet/backend/services/aws/GetObjectService.cs
  dotnet/persistence/Repository/AdRepository.cs
Due: dotnet-unit-test, dotnet-integration-test

adding controller for getting presigned url
  dotnet/backend/Program.cs
  dotnet/backend/controllers/ScheduleController.cs
Due: dotnet-unit-test, dotnet-integration-test

adding e2e test for getting schedule
  dotnet/backend/controllers/ScheduleController.cs
  dotnet/e2e-tester/DeviceTests/GetScheduleTest.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

feat: Configurable logger, parsing panics instead of guessed default
  android/launcher/.template.env.json
  android/launcher/android/app/src/main/kotlin/com/example/launcher/MainActivity.kt
  android/launcher/lib/logging.dart
  android/launcher/lib/main.dart
  android/launcher/lib/safe_casting.dart
Due: dart-format, flutter-analyze

feat: processing of SSE
  Makefile
  android/launcher/lib/main.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

lint error
  android/launcher/.template.env.json
  android/launcher/lib/logging.dart
Due: dart-format, flutter-analyze

feat(device): Sotex Solutions Splash Screen (#35)
  .gitignore
  Makefile
  android/launcher/.template.env.json
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/android/app/src/main/kotlin/com/example/launcher/MainActivity.kt
  android/launcher/android/app/src/main/res/layout/launch_screen.xml
  android/launcher/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-hdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-mdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-xhdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-xxhdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/launcher/android/app/src/main/res/mipmap-xxxhdpi/sotex_solutions.png
  android/launcher/android/app/src/main/res/values/styles.xml
  android/launcher/lib/logging.dart
  android/launcher/lib/main.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
  android/sotex_box/android/app/src/main/AndroidManifest.xml
  docs/repository/android/index.md
  docs/repository/android/troubleshoot.md
  mkdocs.yaml
Due: dart-format, flutter-analyze

networking done
  .gitignore
  android/launcher/android/app/src/main/res/layout/launch_screen.xml
  android/launcher/flutter_jank_metrics_01.json
  android/launcher/lib/src/common/common.dart
  android/launcher/lib/src/common/logger.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/pubspec.lock
Due: dart-format, flutter-analyze

.gitignore change
  .gitignore
Due: none

logger package
  android/launcher/lib/app_observer.dart
Due: dart-format, flutter-analyze

removed extra import
  android/launcher/lib/src/navigation/app_router_delegate.dart
Due: dart-format, flutter-analyze

add bigger test
  dotnet/e2e-tester/DeviceTests/GetScheduleTest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
Due: dotnet-unit-test, dotnet-integration-test

refactoring schedule job
  .env.template
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/CalculateScheduleForDeviceJob.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/backend/hangfire/ScheduleJob.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/AdsControllerTests.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/unit-tests/JobsTests/CalculateScheduleForDeviceJobTests.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing e2e test
  dotnet/e2e-tester/DeviceTests/ConnectAndListenTest.cs
  dotnet/e2e-tester/E2ETest.cs
Due: dotnet-unit-test, dotnet-integration-test

adding test for getting schedule
  dotnet/backend/controllers/ScheduleController.cs
  dotnet/e2e-tester/AdTests/CreateAdTest.cs
  dotnet/e2e-tester/DeviceTests/GetScheduleTest.cs
  dotnet/e2e-tester/TestExecutor.cs
Due: dotnet-unit-test, dotnet-integration-test

feat(backend): Calculation of schedule (#42)
  .env.template
  Makefile
  dotnet/backend/Program.cs
  dotnet/backend/appsettings.json
  dotnet/backend/backend.csproj
  dotnet/backend/controllers/DevicesController.cs
  dotnet/backend/controllers/ScheduleController.cs
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/CallForScheduleJob.cs
  dotnet/backend/hangfire/ScheduleJob.cs
  dotnet/backend/services/RegisterOurServicesExtensions.cs
  dotnet/backend/services/aws/GetObjectService.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/e2e-tester/AdTests/CreateAdTest.cs
  dotnet/e2e-tester/DeviceTests/ConnectAndListenTest.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/e2e-tester/DeviceTests/GetScheduleTest.cs
  dotnet/e2e-tester/E2ETest.cs
  dotnet/e2e-tester/Program.cs
  dotnet/e2e-tester/TestExecutor.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/AdsControllerTests.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/model/Contracts/DeviceContract.cs
  dotnet/model/Contracts/ScheduleContract.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Repository/AdRepository.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
Due: dotnet-unit-test, dotnet-integration-test

start work on infra
  infra/backend/Program.cs
Due: none

adding new Makefile option
  Makefile
  distribution/local/docker-compose.dev.yaml
  infra/backend/Program.cs
Due: none

adding possibility to override COMPOSE_COMMAND
  Makefile
Due: none

saving progress
  infra/backend/Program.cs
Due: none

turned buckets into fetchable names from env
  .env.template
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  infra/backend/Program.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing connections
  infra/backend/Program.cs
Due: none

small fix for sqs processor
  Makefile
  dotnet/backend/hangfire/SqsProcessorJob.cs
  infra/backend/MappedConfig.cs
  infra/backend/Program.cs
  infra/backend/Pulumi.yaml
Due: dotnet-unit-test, dotnet-integration-test

adding deleting message after processing
  dotnet/backend/hangfire/SqsProcessorJob.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing password for db
  infra/backend/Program.cs
Due: none

feat(device): Device Networking (#41)
  .gitignore
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/assets/images/sotex_solutions.png
  android/launcher/lib/app_observer.dart
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/common.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/lib/src/common/network/cubits/network_cubit.dart
  android/launcher/lib/src/common/network/network.dart
  android/launcher/lib/src/common/network/views/network_page.dart
  android/launcher/lib/src/common/settings/settings.dart
  android/launcher/lib/src/navigation/app_navigator.dart
  android/launcher/lib/src/navigation/app_router_delegate.dart
  android/launcher/lib/src/navigation/cubits/navigation_cubit.dart
  android/launcher/lib/src/navigation/navigation.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
  android/launcher/test/cubits/network_cubit_test.dart
Due: dart-format, flutter-analyze

Path conditions:
  export-requirements-txt: any of: pyproject.toml
  dotnet-tool-restore: any of: .config/dotnet-tools.json
  dotnet-unit-test: any of: dotnet/
  dotnet-integration-test: any of: dotnet/
  dart-format: any of: \.(dart)$, but not: ^flutter/|^\.pub-cache/
  flutter-analyze: any of: \.(dart)$, but not: ^flutter/|^\.pub-cache/
