Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: check-xml
      - id: detect-private-key
  - repo: local
    hooks:
      - id: export-requirements-txt
        name: Export requirements.txt
        entry: make py-export
        language: system
        files: 'pyproject.toml'
      - id: dotnet-tool-restore
        name: Install dotnet tools
        language: system
        entry: dotnet tool restore
        files: ".config/dotnet-tools.json"
        pass_filenames: false
      - id: csharpier
        name: Run CSharpier on c# files
        entry: dotnet tool run dotnet-csharpier
        language: system
        types:
          - c#
      - id: dotnet-unit-test
        name: Dotnet unit tests
        entry: make dotnet-unit-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dotnet-integration-test
        name: Dotnet integration tests
        entry: make dotnet-integration-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dart-format
        name: Dart format
        entry: dart format .
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-analyze
        name: Flutter analyze
        entry: flutter analyze --preamble --congratulate --fatal-warnings --fatal-infos
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-launcher-tests
        name: Flutter launcher tests
        entry: make flutter-test-launcher
        language: system
      - id: flutter-sotex_box-tests
        name: Flutter sotex_box tests
        entry: make flutter-test-box
        language: system

fixing dashboard
  dotnet/backend/controllers/EventController.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  infra/config/grafana/provisioning/dashboards/device-connection.json
Due: dotnet-unit-test, dotnet-integration-test

improving connect controller
  dotnet/backend/controllers/EventController.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
Due: dotnet-unit-test, dotnet-integration-test

avd stuff
  Makefile
Due: none

updating logging for sse
  dotnet/backend/appsettings.Development.json
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/sse-handler/extensions/LoggerExtensions.cs
Due: dotnet-unit-test, dotnet-integration-test

adding proper cron evaluation
  dotnet/backend/backend.csproj
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/NoopJob.cs
Due: dotnet-unit-test, dotnet-integration-test

adding dosc
  docs/repository/dotnet/index.md
  docs/repository/index.md
  docs/repository/working-with-repository.md
  load-tests/sse/connectionTest.js
Due: dotnet-unit-test, dotnet-integration-test

removing extra const
  load-tests/sse/connectionTest.js
Due: none

feat(backend): Adding performance testing, noop signal (#24)
  docs/repository/dotnet/index.md
  docs/repository/index.md
  docs/repository/working-with-repository.md
  dotnet/backend/Program.cs
  dotnet/backend/appsettings.Development.json
  dotnet/backend/backend.csproj
  dotnet/backend/controllers/EventController.cs
  dotnet/backend/hangfire/BackgroundJobClientConfiguration.cs
  dotnet/backend/hangfire/NoopJob.cs
  dotnet/sse-handler/EventCoordinatorExtensions.cs
  dotnet/sse-handler/IEventCoordinator.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorConcurrentDictionary.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorMutex.cs
  dotnet/sse-handler/event-coordinators/EventCoordinatorReaderWriterLock.cs
  dotnet/sse-handler/extensions/LoggerExtensions.cs
  dotnet/unit-tests/EventCoordinatorsTests/Tests.cs
  infra/config/grafana/provisioning/dashboards/device-connection.json
  load-tests/sse/connectionTest.js
Due: dotnet-unit-test, dotnet-integration-test

setting up nginx
  docker-compose.yaml
  infra/config/grafana/provisioning/datasources/prometheus-datasource.yaml
  infra/config/nginx/gateway.conf
  infra/config/nginx/nginx.conf
Due: none

saving progress
  .env.template
  Makefile
  docker-compose.yaml
  infra/config/nginx/gateway.conf
  infra/config/nginx/nginx.conf
Due: none

adding template
  .env.template
  Makefile
  docker-compose.yaml
  infra/config/nginx/gateway.conf
  infra/config/nginx/nginx.conf
Due: none

docs
  Makefile
  docker-compose.yaml
  docs/repository/index.md
  docs/repository/working-with-repository.md
  load-tests/sse/connectionTest.js
Due: none

added functionallity for the load test to have custom prefix
  load-tests/sse/connectionTest.js
Due: none

reverting transparency
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/android/app/src/main/res/values-night/styles.xml
  android/launcher/android/app/src/main/res/values/styles.xml
  android/launcher/lib/app.dart
  android/launcher/lib/main.dart
  android/launcher/lib/startup/startup.dart
  android/launcher/lib/startup/view/startup_page.dart
  android/launcher/lib/startup/view/view.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

fixing lint check
  .github/workflows/pull-request-lint.yaml
Due: none

adding synchronize to pr lint
  .github/workflows/pull-request-lint.yaml
Due: none

adding explaination for .env.template
  .env.template
Due: none

added sse listener
  Makefile
  android/launcher/lib/network/lib/network.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

saving
  android/launcher/android/build.gradle
  android/launcher/lib/common.dart
  android/launcher/lib/counter/counter.dart
  android/launcher/lib/counter/cubit/counter_cubit.dart
  android/launcher/lib/counter/view/counter_page.dart
  android/launcher/lib/counter/view/counter_view.dart
  android/launcher/lib/counter/view/view.dart
  android/launcher/lib/isolate_worker.dart
  android/launcher/lib/main.dart
  android/launcher/lib/network/lib/network.dart
  android/launcher/lib/sse/lib/sse_listener.dart
  android/launcher/lib/sse/sse.dart
  android/launcher/lib/sse/test/sse_listener_test.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

Creating a local stack for s3 and postgres
  .gitignore
  Makefile
  distribution/local/docker-compose.dev.yaml
  docker-compose.yaml
  infra/config/pgadmin/postgres.pass
  infra/config/pgadmin/servers.json
Due: none

saving progress
  .config/dotnet-tools.json
  dotnet/backend/backend.csproj
  dotnet/model/Core/Ad.cs
  dotnet/model/Core/Tag.cs
  dotnet/model/model.csproj
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/persistence.csproj
  sotex-box.sln
Due: dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test

adding repositories and base entities
  Makefile
  dotnet/backend/Program.cs
  dotnet/model/Core/Ad.cs
  dotnet/model/Core/Entity.cs
  dotnet/model/Core/Tag.cs
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Repository/AdRepository.cs
  dotnet/persistence/Repository/Base/IRepository.cs
  dotnet/persistence/Repository/Base/Repository.cs
  dotnet/persistence/Repository/TagRepository.cs
  dotnet/persistence/persistence.csproj
  dotnet/sse-handler/IEventCoordinator.cs
Due: dotnet-unit-test, dotnet-integration-test

adding model and testcontainers
  .env.template
  distribution/local/docker-compose.dev.yaml
  docker-compose.yaml
  dotnet/backend/Program.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/integration-tests/integration-tests.csproj
  dotnet/persistence/ApplicationDbContextExtensions.cs
  dotnet/persistence/Migrations/20240308235544_Initial.Designer.cs
  dotnet/persistence/Migrations/20240308235544_Initial.cs
  dotnet/persistence/Migrations/ApplicationDbContextModelSnapshot.cs
  dotnet/persistence/Repository/Base/IRepository.cs
  dotnet/persistence/persistence.csproj
Due: dotnet-unit-test, dotnet-integration-test

fixing parallelism of integration tests
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/integration-tests/controller-tests/MetricsTests.cs
Due: dotnet-unit-test, dotnet-integration-test

reenabling fixed parallelism
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/integration-tests/controller-tests/MetricsTests.cs
Due: dotnet-unit-test, dotnet-integration-test

added ad controller
  Makefile
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/Program.cs
  dotnet/backend/controllers/AdsController.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/integration-tests/controller-tests/MetricsTests.cs
  dotnet/model/Contracts/AdContract.cs
  dotnet/model/Mappers/CoreMapper.cs
  dotnet/model/model.csproj
  dotnet/persistence/Repository/Base/IRepository.cs
  dotnet/persistence/Repository/Base/Repository.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing migration in integration tests
  dotnet/backend/Program.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/integration-tests/controller-tests/MetricsTests.cs
  dotnet/persistence/ApplicationDbContext.cs
Due: dotnet-unit-test, dotnet-integration-test

adding basic ad actions
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/Program.cs
  dotnet/backend/controllers/AdsController.cs
  dotnet/model/Mappers/CoreMapper.cs
  dotnet/persistence/ApplicationDbContext.cs
  dotnet/persistence/Repository/TagRepository.cs
Due: dotnet-unit-test, dotnet-integration-test

started adding tests
  dotnet/backend/backend.csproj
  dotnet/backend/controllers/AdsController.cs
  dotnet/integration-tests/controller-tests/AdsControllerTests.cs
Due: dotnet-unit-test, dotnet-integration-test

adding respawner for reseting database before tests
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/AdsControllerTests.cs
  dotnet/integration-tests/controller-tests/EventControllerTests.cs
  dotnet/integration-tests/controller-tests/MetricsTests.cs
  dotnet/integration-tests/integration-tests.csproj
Due: dotnet-unit-test, dotnet-integration-test

started work on s3 integration
  .env.template
  distribution/local/docker-compose.dev.yaml
  docker-compose.yaml
  dotnet/backend/Program.cs
  dotnet/backend/backend.csproj
  dotnet/backend/controllers/AdsController.cs
Due: dotnet-unit-test, dotnet-integration-test

more work on s3 presigned url
  .env.template
  docker-compose.yaml
  dotnet/backend/Program.cs
  dotnet/backend/controllers/AdsController.cs
  dotnet/model/Contracts/AdContract.cs
  dotnet/model/Mappers/CoreMapper.cs
Due: dotnet-unit-test, dotnet-integration-test

started work on s3 integration
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/Program.cs
  dotnet/backend/controllers/AdsController.cs
Due: dotnet-unit-test, dotnet-integration-test

integrated s3
  .env.template
  Makefile
  docker-compose.yaml
  dotnet/backend/Program.cs
  dotnet/backend/controllers/AdsController.cs
Due: dotnet-unit-test, dotnet-integration-test

fixed tests
  Makefile
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/Program.cs
  dotnet/backend/aws/AwsClientRegistrator.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/integration-tests/controller-tests/AdsControllerTests.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing make file
  Makefile
Due: none

refactoring
  dotnet/backend/Program.cs
  dotnet/backend/controllers/AdsController.cs
  dotnet/backend/services/RegisterOurServicesExtensions.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/backend/services/aws/PreSignObject.cs
  dotnet/backend/services/aws/PutObjectService.cs
  dotnet/integration-tests/controller-tests/AdsControllerTests.cs
Due: dotnet-unit-test, dotnet-integration-test

cleaning up docs
  docs/introduction/deployment.md
  docs/load-tests/load-test-results-connections.md
  docs/repository/dotnet/index.md
  docs/repository/working-with-repository.md
  dotnet/backend/controllers/AdsController.cs
  mkdocs.yaml
Due: dotnet-unit-test, dotnet-integration-test
