Repository sotex-lab/sotex-box: changes, and which pre-commit hooks are due for each by the changed paths.
All: export-requirements-txt, dotnet-tool-restore, dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-merge-conflict
      - id: check-xml
      - id: detect-private-key
  - repo: local
    hooks:
      - id: export-requirements-txt
        name: Export requirements.txt
        entry: make py-export
        language: system
        files: 'pyproject.toml'
      - id: dotnet-tool-restore
        name: Install dotnet tools
        language: system
        entry: dotnet tool restore
        files: ".config/dotnet-tools.json"
        pass_filenames: false
      - id: csharpier
        name: Run CSharpier on c# files
        entry: dotnet tool run dotnet-csharpier
        language: system
        types:
          - c#
      - id: dotnet-unit-test
        name: Dotnet unit tests
        entry: make dotnet-unit-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dotnet-integration-test
        name: Dotnet integration tests
        entry: make dotnet-integration-tests
        pass_filenames: false
        language: system
        files: "dotnet/"
      - id: dart-format
        name: Dart format
        entry: dart format .
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-analyze
        name: Flutter analyze
        entry: flutter analyze --preamble --congratulate --fatal-warnings --fatal-infos
        language: system
        files: '\.(dart)$'
        exclude: '^flutter/|^\.pub-cache/'
      - id: flutter-launcher-tests
        name: Flutter launcher tests
        entry: make flutter-test-launcher
        language: system
      - id: flutter-sotex_box-tests
        name: Flutter sotex_box tests
        entry: make flutter-test-box
        language: system

removed jank_metrics
  android/launcher/flutter_jank_metrics_01.json
Due: none

finishing thought about s3 buckets
  .env.template
Due: none

feat(device): Server Side Events (#47)
  Makefile
  android/launcher/lib/app_observer.dart
  android/launcher/lib/main.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

feat(infra): transition from FARGATE to EC2 (#46)
  .env.template
  Makefile
  distribution/local/docker-compose.dev.yaml
  dotnet/backend/hangfire/SqsProcessorJob.cs
  dotnet/backend/services/aws/GetOrCreateBucket.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  infra/backend/MappedConfig.cs
  infra/backend/Program.cs
  infra/backend/Pulumi.yaml
Due: dotnet-unit-test, dotnet-integration-test

Recieved schedule from the backend.
  Makefile
  android/launcher/.template.env.json
  android/launcher/lib/src/sse/models/schedule.dart
  android/launcher/lib/src/sse/processing/processor.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
  dotnet/backend/hangfire/ScheduleJob.cs
Due: dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

Hopefully this is enough tinkering for the database layer
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/main.dart
  android/launcher/lib/src/sse/models/schedule.dart
  android/launcher/lib/src/sse/processing/processor.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

Refactoring message processors.
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/src/common/dio_access.dart
  android/launcher/lib/src/sse/processing/processor.dart
  android/launcher/lib/src/sse/processing/processor_factory.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

Significantly reduced complexity.
  android/launcher/lib/main.dart
  android/launcher/lib/src/database/database.dart
  android/launcher/lib/src/sse/models/schedule.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/lib/src/sse/sse_entry.dart
Due: dart-format, flutter-analyze

clumsy: Leftover removal.
  android/launcher/lib/src/sse/sse_entry.dart
Due: dart-format, flutter-analyze

Saving progress on media player.
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/bloc/playback_bloc.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/database/media.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

Working video, checking if I can make smooth transitions.
  android/launcher/lib/src/channels/views/channel_page.dart
Due: dart-format, flutter-analyze

Saving.
  android/launcher/lib/src/channels/bloc/playback_bloc.dart
  android/launcher/lib/src/channels/views/channel_page.dart
Due: dart-format, flutter-analyze

Smooth transitions.
  android/launcher/lib/src/channels/bloc/playback_bloc.dart
  android/launcher/lib/src/channels/views/channel_page.dart
Due: dart-format, flutter-analyze

Web intro.
  web/.eslintrc.json
  web/.gitignore
  web/README.md
  web/app/favicon.ico
  web/app/globals.css
  web/app/layout.tsx
  web/app/page.tsx
  web/next.config.mjs
  web/package.json
  web/pnpm-lock.yaml
  web/postcss.config.mjs
  web/public/arrow_right.svg
  web/public/icons/cloud.svg
  web/public/icons/document.svg
  web/public/icons/food.svg
  web/public/icons/hd.svg
  web/public/icons/live.svg
  web/public/icons/mobile.svg
  web/public/icons/play.svg
  web/public/icons/router.svg
  web/public/lights_1.png
  web/public/lights_2.png
  web/public/lights_3.png
  web/public/next.svg
  web/public/sotex_box.svg
  web/public/splash_1.png
  web/public/tick.svg
  web/public/tv.png
  web/public/vercel.svg
  web/tailwind.config.ts
  web/tsconfig.json
Due: none

Desktop and mobile ready. FAQ needed
  web/.eslintrc.json
  web/.prettierrc.yaml
  web/app/layout.tsx
  web/app/page.tsx
  web/package.json
  web/pnpm-lock.yaml
  web/public/sotex_solutions.svg
  web/public/splash_2.png
  web/tailwind.config.ts
Due: none

extracted job calculation in its own
  .env.template
  dotnet/backend/backend.csproj
  dotnet/backend/hangfire/CalculateJob.cs
  dotnet/backend/hangfire/ScheduleJob.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/unit-tests/JobsTests/CalculateJobTests.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
  infra/backend/Program.cs
Due: dotnet-unit-test, dotnet-integration-test

added creating of initial schedule upon creating device
  .dockerignore
  dotnet/backend/controllers/DevicesController.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing issue with wrong bucket used for linking to download the videos
  dotnet/backend/hangfire/CalculateJob.cs
Due: dotnet-unit-test, dotnet-integration-test

feat(device): API + Device Integration (#48)
  Makefile
  android/launcher/.template.env.json
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/bloc/playback_bloc.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/dio_access.dart
  android/launcher/lib/src/database/database.dart
  android/launcher/lib/src/database/media.dart
  android/launcher/lib/src/sse/models/schedule.dart
  android/launcher/lib/src/sse/processing/processor.dart
  android/launcher/lib/src/sse/processing/processor_factory.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
  dotnet/backend/hangfire/ScheduleJob.cs
Due: dotnet-unit-test, dotnet-integration-test, dart-format, flutter-analyze

0 dependency faq
  web/app/page.tsx
  web/public/icons/chevron-down.svg
  web/public/icons/chevron-up.svg
  web/src/components/accordion.tsx
  web/tailwind.config.ts
Due: none

smooth animation on feature
  web/app/page.tsx
Due: none

refactor(backend): Extract schedule calculation to another job (#49)
  .dockerignore
  .env.template
  dotnet/backend/backend.csproj
  dotnet/backend/controllers/DevicesController.cs
  dotnet/backend/hangfire/CalculateJob.cs
  dotnet/backend/hangfire/ScheduleJob.cs
  dotnet/e2e-tester/DeviceTests/CreateDeviceTest.cs
  dotnet/integration-tests/ConfigurableBackendFactory.cs
  dotnet/unit-tests/JobsTests/CalculateJobTests.cs
  dotnet/unit-tests/JobsTests/CallForScheduleJobTests.cs
  infra/backend/Program.cs
Due: dotnet-unit-test, dotnet-integration-test

fixing deploy code
  infra/backend/Program.cs
Due: none

updating poetry with pixi
  .gitattributes
  .gitignore
  Makefile
  docs/repository/index.md
  docs/repository/working-with-repository.md
  dotnet/e2e-tester/TestExecutor.cs
  pixi.lock
  pixi.toml
  poetry.lock
  pyproject.toml
  requirements.txt
Due: export-requirements-txt, dotnet-unit-test, dotnet-integration-test

script for uploading mass ads
  python/mass-upload-ads.py
Due: none

adding parallel uploading
  python/mass-upload-ads.py
Due: none

adding content-type
  python/mass-upload-ads.py
Due: none

saving
  Makefile
  android/launcher/android/app/src/main/AndroidManifest.xml
  android/launcher/lib/app_observer.dart
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/bloc/playback_bloc.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/lib/src/database/database.dart
  android/launcher/lib/src/database/media.dart
  android/launcher/lib/src/sse/processing/processor_factory.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

adding chown step in the correct order
  infra/backend/Program.cs
Due: none

saving
  Makefile
  android/launcher/.env.device.json
  android/launcher/lib/app_observer.dart
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/bloc/playback_bloc.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/debug_singleton.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/lib/src/database/media.dart
  android/launcher/lib/src/database/storage.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/pubspec.lock
  android/launcher/pubspec.yaml
Due: dart-format, flutter-analyze

saving
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/lib/src/common/notification.dart
  android/launcher/lib/src/sse/processing/processor_factory.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
Due: dart-format, flutter-analyze

changing staging defaults
  infra/backend/Program.cs
Due: none

adding correct names for secrets
  .github/workflows/build-pulumi.yaml
Due: none

recursion fixed
  .pre-commit-config.yaml
  Makefile
  android/launcher/lib/main.dart
  android/launcher/lib/src/channels/views/channel_page.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/lib/src/common/notification.dart
  android/sotex_box/.metadata
  android/sotex_box/analysis_options.yaml
  android/sotex_box/android/.gitignore
  android/sotex_box/android/app/build.gradle
  android/sotex_box/android/app/src/main/AndroidManifest.xml
  android/sotex_box/android/app/src/main/kotlin/com/example/sotex_box/MainActivity.kt
  android/sotex_box/android/app/src/main/res/drawable-v21/launch_background.xml
  android/sotex_box/android/app/src/main/res/drawable/launch_background.xml
  android/sotex_box/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/values-night/styles.xml
  android/sotex_box/android/app/src/main/res/values/styles.xml
  android/sotex_box/android/app/src/profile/AndroidManifest.xml
  android/sotex_box/android/build.gradle
  android/sotex_box/android/gradle.properties
  android/sotex_box/android/gradle/wrapper/gradle-wrapper.properties
  android/sotex_box/android/settings.gradle
  android/sotex_box/lib/main.dart
  android/sotex_box/pubspec.lock
  android/sotex_box/pubspec.yaml
  android/sotex_box/test/widget_test.dart
Due: dart-format, flutter-analyze

feat: mvp testing #1 (#53)
  .gitattributes
  .github/workflows/build-pulumi.yaml
  .gitignore
  Makefile
  docs/repository/index.md
  docs/repository/working-with-repository.md
  dotnet/e2e-tester/TestExecutor.cs
  infra/backend/Program.cs
  pixi.lock
  pixi.toml
  poetry.lock
  pyproject.toml
  python/mass-upload-ads.py
  requirements.txt
Due: export-requirements-txt, dotnet-unit-test, dotnet-integration-test

updated env template
  .gitignore
  android/launcher/.env.device.json
  android/launcher/.template.env.json
Due: none

fixing ci
  .github/workflows/flutter-launcher.yaml
Due: none

fixing linting
  android/launcher/lib/app_observer.dart
  android/launcher/lib/src/database/database.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/pubspec.lock
Due: dart-format, flutter-analyze

feat(device): Enabling observability on the device (#54)
  .github/workflows/flutter-launcher.yaml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  android/launcher/.env.device.json
  android/launcher/.template.env.json
  android/launcher/lib/app_observer.dart
  android/launcher/lib/src/common/logging.dart
  android/launcher/lib/src/common/notification.dart
  android/launcher/lib/src/database/database.dart
  android/launcher/lib/src/sse/processing/processor_factory.dart
  android/launcher/lib/src/sse/processing/schedule_processor.dart
  android/launcher/lib/src/sse/providers/schedule_item_provider.dart
  android/launcher/lib/src/sse/sse_entry.dart
  android/launcher/pubspec.lock
  android/sotex_box/.metadata
  android/sotex_box/analysis_options.yaml
  android/sotex_box/android/.gitignore
  android/sotex_box/android/app/build.gradle
  android/sotex_box/android/app/src/main/AndroidManifest.xml
  android/sotex_box/android/app/src/main/kotlin/com/example/sotex_box/MainActivity.kt
  android/sotex_box/android/app/src/main/res/drawable-v21/launch_background.xml
  android/sotex_box/android/app/src/main/res/drawable/launch_background.xml
  android/sotex_box/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/sotex_box/android/app/src/main/res/values-night/styles.xml
  android/sotex_box/android/app/src/main/res/values/styles.xml
  android/sotex_box/android/app/src/profile/AndroidManifest.xml
  android/sotex_box/android/build.gradle
  android/sotex_box/android/gradle.properties
  android/sotex_box/android/gradle/wrapper/gradle-wrapper.properties
  android/sotex_box/android/settings.gradle
  android/sotex_box/lib/main.dart
  android/sotex_box/pubspec.lock
  android/sotex_box/pubspec.yaml
  android/sotex_box/test/widget_test.dart
Due: dart-format, flutter-analyze

started refactoring
  Makefile
  docs/repository/android/index.md
  docs/repository/working-with-repository.md
Due: none
